
{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="row justify-content-center" style="margin-top:200px">
      <div class="col-5">
        <div class="card">
          <div class="card-body">
                <h2 style="text-align:center"><strong>Password Changed with Success</strong></h2><hr>

                <p style="text-align:center">Now You May Log In</p>

                <a href="{% url 'login' %}" class="btn btn-primary" style="width:100%; margin-top:14px">Log In</a>

          </div>
        </div>
      </div>
    </div>

      {% for message in messages %}
		        <h4 style="text-align:center;">{{message}}</h4>
		  {% endfor %}
{% endblock %}
