
{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="row justify-content-center" style="margin-top:200px">
      <div class="col-5">
        <div class="card">
          <div class="card-body">
                <h2 style="text-align:center"><strong>Update New Password</strong></h2><hr>

                {% if validlink %}
                    <form method="post">
                      {% csrf_token %}

                      {{ form|crispy }}

                      <hr><button type="submit" class="btn btn-primary" style="width:100%;">Save</button>
                    </form>
                {% else %}
                    <h2 style="text-align:center; color:red"><strong>Invalid Token</strong></h2><hr>
                    <p>
                          <a href="{% url 'password_reset' %}" class="btn btn-primary" style="width:100%; margin-top:14px">Request a New Password Reset Token</a>
                    </p>
                {% endif %}
          </div>
        </div>
      </div>
    </div>

      {% for message in messages %}
		        <h4 style="text-align:center;">{{message}}</h4>
		  {% endfor %}
{% endblock %}
