

{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="row justify-content-center" style="margin-top:200px">
      <div class="col-5">
        <div class="card">
          <div class="card-body">
                <h2 style="text-align:center"><strong>Reset your Password</strong></h2><hr>
                <p style="text-align:center">A confirmation mail has send to your desired mail</p>
                <p style="text-align:center">Go to your Email and update your password</p>
                <p style="text-align:center">Please check spam folder.</p><br>

                <p style="text-align:center">Go Back to Home Page <a href="/">Click</a></p>
          </div>
        </div>
      </div>
    </div>

      {% for message in messages %}
		        <h4 style="text-align:center;">{{message}}</h4>
		  {% endfor %}
{% endblock %}
