{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
        <title>LIFEBLOOD</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/search.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/linericon/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/lightbox/simpleLightbox.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/nice-select/css/nice-select.css' %}">
        <!-- main css -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    </head>
<body>

	<!--================ Start Header Menu Area =================-->
	<header class="header_area">
		<div class="main_menu">
			<div class="container">
				<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<a class="navbar-brand logo_h" href="/"><span style="font-weight:bold;color:white">LIFEBLOOD</span></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">


							<ul class="nav navbar-nav menu_nav ml-auto">

                <li class="nav-item"><a class="nav-link" href="/"><strong>Home</strong></a></li>
								<li class="nav-item"><a class="nav-link" href="about"><strong>About</strong></a></li>
								<li class="nav-item"><a class="nav-link" href="objectives"><strong>Objectives</strong></a></li>
								<li class="nav-item"><a class="nav-link" href="contact"><strong>Contact</strong></a></li>
                {% if user.is_authenticated %}
                    <li class="nav-item submenu dropdown  active">
    									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><strong>Hi, {{user.username}}  <img src="{% static 'img/dropdownIcon.png' %}" style="width:17px; height:17px"></strong></a>
    									<ul class="dropdown-menu">
                        <li class="nav-item"><a class="nav-link" href="myAccount"><strong>Show My Profile</strong></a></li>
    									</ul>
    								</li>
                    <li class="nav-item"><a class="nav-link" href="logout"><strong>Log Out</strong></a></li>
          			{% else %}
                <li class="nav-item"><a class="nav-link" href="login"><strong>Log In</strong></a></li>
                <li class="nav-item"><a class="nav-link" href="register"><strong>Sign Up</strong></a></li>
          			{% endif %}
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</header>
	<!--================ End Header Menu Area =================-->

  <!--================ Home Banner Area =================-->
  <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
          <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
          <div class="container">
              <div class="banner_content text-center">
                  <h2>User Profile</h2>
                  {% for aup in auth_user_profile %}
                      <p>Welcome back to your profile : {{aup.full_name}}</p>
                  {% endfor %}
              </div>
          </div>
      </div>
  </section>
<!--================ End Home Banner Area =================-->



  <div class="container" style="margin-top:30px; margin-bottom: 40px">
    <div style="text-align:center; margin-bottom:20px">
        <h1>Your Profile Information</h1>
    </div>
		<div class="jumbotron">
      <div class="row">
        <div class="col-sm-3" style="padding:0px 0px 0px 0px; border-right:3px solid #c415e2">
            <div style="margin-top:40px">
                {% for aup in auth_user_profile %}
                  <img src="{{aup.picture.url}}" style="width:130px; height:130px; border-radius:50%; margin-left:20%">
                {% endfor %}
            </div>
            <div style="margin-left:15%; margin-top:20px; padding:20px 0px 0px 0px">
                <a href="/myAccount"><button type="button" class="btn btn-primary active" style="width:160px">Profile Info</button></a><br><br>
                <a href="/updateProfile"><button type="button" class="btn btn-primary">Update Profile Info</button></a><br><br>
                <a href="/updateProfilePic"><button type="button" class="btn btn-primary">Update Profile Pic</button></a><br><br>
                <a href="/changePassword"><button type="button" class="btn btn-primary">Change Password</button></a><br><br>
                <a href="/activities"><button type="button" class="btn btn-primary">Show My Activities</button></a><br><br>
            </div>
        </div>
        <div class="col-sm-7" style="padding:0px 0px 0px 60px">

              <table cellpadding="15px" cellspacing="0px">
                  {% for aup in auth_user_profile %}
                  <tr>
                      <td><h4>Full Name</h4></td>
                      <td><h4>{{aup.full_name}}</h4></td>
                  </tr>
                  {% endfor %}

                  <tr>
                      <td><h4>User Name</h4></td>
                      <td><h4>{{user.username}}</h4></td>
                  </tr>
                  <tr>
                      <td><h4>Email</h4></td>
                      <td><h4>{{user.email}}</h4></td>
                  </tr>

                  {% for aup in auth_user_profile %}
                      <tr>
                          <td><h4>User Status</h4></td>
                          {% if aup.is_user %}
                              <td><h4>Active</h4></td>
                          {% else %}
                              <td><h4>Inactive</h4></td>
                          {% endif %}
                      </tr>
                      <tr>
                          <td><h4>Volunteer Status</h4></td>
                              {% if aup.is_volunteer %}
                                  <td><h4>Active</h4></td>
                              {% else %}
                                  <td><h4>Inactive</h4></td>
                              {% endif %}
                      </tr>
                      <tr>
                          <td><h4>Address</h4></td>
                          <td><h4>{{aup.address}}</h4></td>
                      </tr>
                      <tr>
                          <td><h4>Age</h4></td>
                          <td><h4>{{aup.age}}</h4></td>
                      </tr>
                      <tr>
                          <td><h4>Gender</h4></td>
                              {% if aup.gender_id == 1 %}
                                  <td><h4>Male</h4></td>
                              {% elif aup.gender_id == 2 %}
                                  <td><h4>Female</h4></td>
                              {% elif aup.gender_id == 3 %}
                                  <td><h4>Others</h4></td>
                              {% endif %}
                      </tr>
                      <tr>
                          <td><h4>Profession</h4></td>
                          <td><h4>{{aup.profession}}</h4></td>
                      </tr>
                      <tr>
                          <td><h4>Educational Background</h4></td>
                          <td><h4>{{aup.educational_bg}}</h4></td>
                      </tr>
                      <tr>
                          <td><h4>Blood Group</h4></td>
                          {% if aup.blood_group_id == 1 %}
                              <td><h4>A+</h4></td>
                          {% elif aup.blood_group_id == 2 %}
                              <td><h4>A-</h4></td>
                          {% elif aup.blood_group_id == 3 %}
                              <td><h4>B+</h4></td>
                          {% elif aup.blood_group_id == 4 %}
                              <td><h4>B-</h4></td>
                          {% elif aup.blood_group_id == 5 %}
                              <td><h4>AB+</h4></td>
                          {% elif aup.blood_group_id == 6 %}
                              <td><h4>AB-</h4></td>
                          {% elif aup.blood_group_id == 7 %}
                              <td><h4>O+</h4></td>
                            {% elif aup.blood_group_id == 8 %}
                                <td><h4>O-</h4></td>
                          {% endif %}
                      </tr>
                  {% endfor %}
              </table>
        </div>
        <div>
        </div>
      </div>
		</div>
	</div>





	<!--================ Start footer Area  =================-->
	<footer>
		<div class="footer-area">
			<div class="container">
				<div class="row section_gap" style="padding: 40px 0px 20px 0px">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title large_title">Our Mission</h4>
							<p>To reach out to the downtrodden and the marginalised society in India by helping them. </p>
							<p>
								Thousands of people have received help and aid from us in their hour and need.
							</p>
						</div>
					</div>
					<div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title">Quick Links</h4>
							<ul class="list">
                <li><a href="/">Home</a></li>
								<li><a href="about">About</a></li>
								<li><a href="objectives">Objectives</a></li>
								<li><a href="contact">Contact</a></li>
								<li><a href="login">Log In</a></li>
								<li><a href="register">Sign Up</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-6">
						<div class="single-footer-widget instafeed">
							<h4 class="footer_title">Our Founders</h4>
							<ul class="list instafeed d-flex flex-wrap">
                  {% for galary in gallaries %}
								        <li><img src="{{galary.img.url}}" alt=""></li>
                  {% endfor %}
							</ul>
						</div>
					</div>
					<div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title">Contact Us</h4>
							<div class="ml-40">

                  {% for contact in contacts %}
      								<p class="sm-head">
      									<span class="fa fa-location-arrow"></span>
      									Head Office
      								</p>
      								<p>{{contact.location}}</p>

      								<p class="sm-head">
      									<span class="fa fa-phone"></span>
      									Phone Number
      								</p>
      								<p>
      									{{contact.phone1}} <br>
      									{{contact.phone2}}
      								</p>

      								<p class="sm-head">
      									<span class="fa fa-envelope"></span>
      									Email
      								</p>
      								<p>
      									{{contact.email1}} <br>
      									{{contact.email2}}
      								</p>
                  {% endfor %}

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer-bottom">
			<div class="container">
				<div class="row d-flex">
					<p class="col-lg-12 footer-text text-center">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This website is developed by Vishal Teotia
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
				</div>
			</div>
		</div>
	</footer>
	<!--================ End footer Area  =================-->


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/popper.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/stellar.js' %}"></script>
	<script src="{% static 'vendors/lightbox/simpleLightbox.min.js' %}"></script>
	<script src="{% static 'vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
	<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
	<script src="{% static 'js/mail-script.js' %}"></script>
	<script src="{% static 'js/countdown.js' %}"></script>
	<!--gmaps Js-->
	<script src="{% static 'https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE' %}"></script>
	<script src="{% static 'js/gmaps.min.js' %}"></script>
	<script src="{% static 'js/theme.js' %}"></script>
</body>
</html>
