{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
        <title>LIFEBLOOD</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/search.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/linericon/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/lightbox/simpleLightbox.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/nice-select/css/nice-select.css' %}">
        <!-- main css -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    </head>
<body>

	<!--================ Start Header Menu Area =================-->
	<header class="header_area">
		<div class="main_menu">
			<div class="container">
				<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<a class="navbar-brand logo_h" href="/"><span style="font-weight:bold;color:white">LIFEBLOOD</span></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">


							<ul class="nav navbar-nav menu_nav ml-auto">

                <li class="nav-item"><a class="nav-link" href="/"><strong>Home</strong></a></li>
								<li class="nav-item"><a class="nav-link" href="about"><strong>About</strong></a></li>
								<li class="nav-item active"><a class="nav-link" href="objectives"><strong>Objectives</strong></a></li>
								<li class="nav-item"><a class="nav-link" href="contact"><strong>Contact</strong></a></li>
                {% if user.is_authenticated %}
                    <li class="nav-item submenu dropdown">
    									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><strong>Hi, {{user.username}}  <img src="{% static 'img/dropdownIcon.png' %}" style="width:17px; height:17px"></strong></a>
    									<ul class="dropdown-menu">
                        <li class="nav-item"><a class="nav-link" href="myAccount"><strong>Show My Profile</strong></a></li>
    									</ul>
    								</li>
                    <li class="nav-item"><a class="nav-link" href="logout"><strong>Log Out</strong></a></li>
          			{% else %}
                <li class="nav-item"><a class="nav-link" href="login"><strong>Log In</strong></a></li>
                <li class="nav-item"><a class="nav-link" href="register"><strong>Sign Up</strong></a></li>
          			{% endif %}
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</header>
	<!--================ End Header Menu Area =================-->

  <!--================ Home Banner Area =================-->
  <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
          <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
          <div class="container">
              <div class="banner_content text-center">
                  <h2>Donors Available</h2>
              </div>
          </div>
      </div>
  </section>
<!--================ End Home Banner Area =================-->



<!--================ Start Causes Area =================-->
	<section class="causes_area" style="padding:40px 0px 10px 0px">
		<div class="container">
			<div class="main_title" style="margin-bottom:0px">
                <form method="POST" action="search" class="form-inline my-2 my-lg-0">
                 {% csrf_token %}
               <input name="name" class="form-control mr-sm-2" type="search" placeholder="Search blood group" aria-label="Search">
               <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
             </form>
				<table class="table table-striped">
                    <tr>
                        <th>Name</th>
                        <th>Blood Group</th>
                        <th>Email</th>
                        <th>Contact</th>
                        <th>City</th>
                    </tr>
                    {% for i in donor_form %}
                    <tr>
                        <td>{{ i.donor_name }}</td>
                        <td>{{ i.donor_blood_group }}</td>
                        <td>{{ i.donor_email }}</td>
                        <td>{{ i.donor_contact }}</td>
                        <td>{{i.donor_city}}</td>
                    </tr>
                    {% endfor %}
                </table>

			</div>
		</div>
	</section><hr>
	<!--================ End Causes Area =================-->




	<!--================ Start footer Area  =================-->
	<footer>
		<div class="footer-area">
			<div class="container">
				<div class="row section_gap" style="padding: 40px 0px 20px 0px">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title large_title">Our Mission</h4>
							<p>To reach out to the downtrodden and the marginalised society in India by helping them.</p>
							<p>
								Thousands of people have received help and aid from us in their hour and need.
							</p>
						</div>
					</div>
					<div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title">Quick Links</h4>
							<ul class="list">
                <li><a href="/">Home</a></li>
								<li><a href="about">About</a></li>
								<li><a href="objectives">Objectives</a></li>
								<li><a href="contact">Contact</a></li>
								<li><a href="login">Log In</a></li>
								<li><a href="register">Sign Up</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-6">
						<div class="single-footer-widget instafeed">
							<h4 class="footer_title">Our Founders</h4>
							<ul class="list instafeed d-flex flex-wrap">
                  {% for galary in gallaries %}
								        <li><img src="{{galary.img.url}}" alt=""></li>
                  {% endfor %}
							</ul>
						</div>
					</div>
					<div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title">Contact Us</h4>
							<div class="ml-40">

                  {% for contact in contacts %}
      								<p class="sm-head">
      									<span class="fa fa-location-arrow"></span>
      									Head Office
      								</p>
      								<p>{{contact.location}}</p>

      								<p class="sm-head">
      									<span class="fa fa-phone"></span>
      									Phone Number
      								</p>
      								<p>
      									{{contact.phone1}} <br>
      									{{contact.phone2}}
      								</p>

      								<p class="sm-head">
      									<span class="fa fa-envelope"></span>
      									Email
      								</p>
      								<p>
      									{{contact.email1}} <br>
      									{{contact.email2}}
      								</p>
                  {% endfor %}

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer-bottom">
			<div class="container">
				<div class="row d-flex">
					<p class="col-lg-12 footer-text text-center">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This website is developed by Vishal Teotia
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
				</div>
			</div>
		</div>
	</footer>
	<!--================ End footer Area  =================-->


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/popper.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/stellar.js' %}"></script>
	<script src="{% static 'vendors/lightbox/simpleLightbox.min.js' %}"></script>
	<script src="{% static 'vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
	<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
	<script src="{% static 'js/mail-script.js' %}"></script>
	<script src="{% static 'js/countdown.js' %}"></script>
	<!--gmaps Js-->
	<script src="{% static 'https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE' %}"></script>
	<script src="{% static 'js/gmaps.min.js' %}"></script>
	<script src="{% static 'js/theme.js' %}"></script>
</body>
</html>
